{%extends 'base.html'%}
{%block content%}


<style>
    .peeps {
        height: 55px;
        width: 55px;
        border: 2px solid rgb(233, 51, 51);
        border-radius: 50%;
        margin-top: 15px;
    }

    @media screen and (max-width:1000px) {
        .status {
            display: none;
        }

        .main {
            margin-top: 20px;
        }
    }
</style>
<div class="container-fluid main" style="background-color: #f8f9fa; ">
    <div class="container" style="padding-left: 100px;">
        <div class="row status"
            style="border: 0.5px solid lightgray; background-color: white; margin-left: 3px;  height: 100px; width: 700px; margin-top: 15px; margin-bottom: 20px;">
            <div class="card col-md-2">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR389qpmJO3LKD6uwT0S2DU3nXYA3KY2vuxM9ElikevnUYj1WJ_Ndp40G38xiK9w9zSuzE&usqp=CAU">

                </div>
                <div class="card-footer">Awadh</div>
            </div>
            <div class="card col-md-2">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc-UeKQ97tgzwOTmJrKZPhNpAaYwuLrCDuc7Xa-LZtN1d1tXat_wqQ9oAIXC_Gxop9np8&usqp=CAU">

                </div>
                <div class="card-footer">Mr_Katana</div>
            </div>
            <div class="card col-md-2">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHUKHc-U2iz8PU-iAI2ZI7mAHbQw_5P0MqOl5hzBYbZKTxwt4H2Itdt6lHznKxn8xm2ho&usqp=CAU">
                </div>
                <div class="card-footer">Barry_J</div>
            </div>

            <div class="card col-md-2">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSORoqa2o063uNl9cOtkDYLmBB1tr7rQyO8T_mmHMC3Q7AxZWjLk74Up4zHMIGoFo--85c&usqp=CAU">
                </div>
                <div class="card-footer">Tripple_K</div>
            </div>
            <div class="card col-md-2">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSThvCzi6SvVQMcdbOVSkHfHfTsYzcFusL-RxNoyMmxhVPaIZDBlgaZOWPFcsvEfRjHM0E&usqp=CAU">
                </div>
                <div class="card-footer">Eudes</div>
            </div>
            <div class="card col-md-1">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHVgnD7EBIYPywN8ob37DTdWq9oosf3N7_DAp6zBXGtK-i65mvpcnc9H0wT1FVDQvZjb4&usqp=CAU">
                </div>
                <div class="card-footer">Fred</div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <img class="peeps"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHVgnD7EBIYPywN8ob37DTdWq9oosf3N7_DAp6zBXGtK-i65mvpcnc9H0wT1FVDQvZjb4&usqp=CAU">
                        </div>
                <div class="card-footer">lovely</div>
            </div> -->

        </div>
        <div class="row">
            {% for post in posts%}
            <div class="container col-md-7">
                <div class="panel panel-default" style="border-radius: 1%; border: 0.5px solid lightgrey; ">

                    <img src="{{post.image.url}}" class="img-responsive" style="width: 100%; height: 500px;">


                    <div class="panel-footer" style="background-color: white;">
                        <a><img src="https://img.icons8.com/ios/30/000000/like.png" /></a>
                        <a href="/comment/{{post.id}}">
                            <img src="https://img.icons8.com/ios/30/000000/topic.png" />
                        </a>
                        <a><img src="https://img.icons8.com/material-outlined/30/000000/filled-sent.png" /></a>

                        <p><strong class="text-secondary pl-3">{{post.profile}}: </strong> {{post.image_caption}}</p>

                        <a style="color: gray;">View all comments</a>
                    </div>

                </div>
            </div>
            {% endfor %}


            <div class="col">
                <h3>Suggestions</h3>
                <hr>
                {%for user in profile%}
                <div class="">
                    <img src="{{user.user.profile.profile_photo.url}}" alt="img" class=" peeps ">
                    <a href="{%url 'profile' %}">{{user.user}}</a>
                </div>
                {%endfor%}


            </div>
        </div>

    </div>


</div>

</div>
</div>


{%endblock%}